.list-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem;
    
}
h3 {
    color: white;
}
.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: none;
    margin: none;
}
ul {
    padding-left: 0;
}